.logo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grafic {
    text-align: left;
}

.grafic .icon:before {
    font-size: 47px;
    margin-left: 158px;
    position: absolute;
}

.flexslider .slides img {
    height: 280px;
    width: auto;
}

.pichina {
    width: 130px;
    height: 215px;
    background-repeat: no-repeat;
    -webkit-background-size: 260px auto;
    background-size: 260px auto;
}

.pichina:hover {
    background-position: -130px 0;
}

.block-wrap-rabota img {
    width: 1200px;
    height: auto;
}

.menufootermenu li {
    width: 50%;
}

.line-hiden {
    display: block;
}

.top-search {
    margin-top: 0;
}

h3.title-doc a {
    font-size: 20px;
}