.nav-green {
    /*     background-image: -webkit-linear-gradient(top, #00a951 0%, #008740 100%);
    background-image: linear-gradient(to bottom, #00a951 0%, #008740 100%); */
    background-color: #00a951;
    position: relative;
    z-index: 10;
    -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
    border: 0;
}

.mobile-w {
    display: none;
}

.page-wrap {
    float: left;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}

.nav-green ul.navbar-nav>li>a {
    color: #fff;
    font-weight: 300;
    font-stretch: condensed;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-green ul.navbar-nav>li>a:hover,
.nav-green ul.navbar-nav>li>a:focus {
    color: #fff;
}



.logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-wr {
    background-color: #e9f5ef;
}

.text {
    font-family: 'Roboto';
}

.fl-w {
    float: left;
    width: 100%;
}

.fl-r-btn {
    float: right;
    margin-top: -15px;
}

.fl-l {
    float: left;
}

.grafic {
    font-weight: 300;
    font-stretch: condensed;
    font-size: 14px;
    text-align: right;
    padding-top: 4px;
    color: #00a951;
}

.grafic p {
    margin-top: 0;
    margin-bottom: 0;
}

.grafic h3 {
    font-weight: 300;
}

.top-tel {
    text-align: right;
    color: #008740;
    font-weight: bold;
    font-size: 36px;
    padding-top: 5px;
}

.top-tel a {
    color: #00a951;
    text-decoration: underline;
}

.top-tel span {
    font-family: 'Roboto';
}

.top-tel h3 {
    font-weight: 300;
    font-size: 20px;
}


@media (max-width: 768px) {
    .header-wr {
        display: none;
    }
}

.grafic .icon:before {
    font-size: 47px;
    margin-left: -191px;
    position: absolute;
}

.grafic h3 {
    margin-bottom: -6px;
}

.grafic h3 a {
    color: #008740;
}

.slider-wrap {
    margin-top: -25px;
    position: relative;
    z-index: 0;
}

.flex-direction-nav a:before {
    font-size: 36px;
}

.slide-title {
    float: left;
    width: 100%;
    height: 0;
    overflow: visible;
}

.text-slide {
    float: left;
    width: 100%;
}

.text-slide h2 {
    font-size: 42px;
    color: #008740;
}

.text-slide {
    text-align: right;
}

.scoreboard {
    padding: 4px 23px 22px;
    margin-top: 10px;
}

.scoreboard,
.scoreboard2 {
    background: #00a951;
    color: #fff;
    font-stretch: condensed;
}

.fa-clock-o:before {
    content: "\f017";
    font-weight: 400;
    font-family: "FontAwesome";
}

.scoreboard .h6 {
    font-size: 16px;
    font-stretch: condensed;
    font-weight: 300;
}

.uslu-bar h2 {
    font-weight: 300;
}

.uslu-bar .panel-title a {
    color: #008740;
}

.uslu-bar .panel-title a:hover {
    color: #008740;
    text-decoration: none;
}







/* .panel-default>.panel-heading {
    color: #333;

    border-color: #ddd;
}

.uslu-bar .panel-title a {
    color: #008740;
    background-color: #f5f5f5;
    float: left;
    width: 100%;
    outline: none;
    background: #eff7f3;
    padding: 13px 40px 17px 21px;
}

.uslu-bar .panel-heading {
    border: 0;
    padding: 0;
}

.uslu-bar .panel-default {
    margin-top: 5px;
    float: left;
    width: 100%;
} */

.footer-wrap {
    background-color: #fff;
    margin-top: 50px;
}

.footer__text {
    color: #000;
}

.footer__address {
    color: #000;
}

.footer__address--caption,
.footer__adress--city {
    font: 14px 'PT Sans', sans-serif;
    color: #000;
    text-transform: uppercase;
}

.footer__address--caption {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
}

.footer-menuMD-title {
    padding-bottom: 15px;
    text-align: left;
    font: 14px 'PT Sans', sans-serif;
    color: #000;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}

.menufootermenu li {
    text-align: left;
    display: list-item;
    width: 25%;
}

.menufootermenu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    float: left;
    width: 100%;
}

.menufootermenu a {
    display: inline-block;
    margin: 0 0 5px;
    font: bold 14px 'PT Sans', sans-serif;
    color: #009644;
    text-decoration: none;
    text-transform: uppercase;
}

.footer__meta {
    margin-top: 35px;
    box-shadow: 0 0px 30px 0px #252323;
}

footer .footer__meta>div {
    height: auto;
    padding: 21px 20px;
}

footer a.sitemap {
    color: #009644;
}

.footer__meta a {
    color: #009644;
}

.menufootermenu>li>a {
    padding: 0 0 0 0;
    font-size: 14px;
    font-weight: 300;
}

.menufootermenu>li>a:hover {
    background: none;
}

.footer__copyright a {
    color: #A6A6A6;
}

.jbzoo-item-doctor {
    margin-bottom: 20px;
    background: #f3f3f3;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px 2px #cecece;
    float: left;
    width: 100%;
}

.teaserClinic-title a,
.teaderDoctor-title a {
    color: #363636;
    text-transform: uppercase;
    text-decoration: none;
}

.teaderDoctor-specialization {
    color: #363636;
    padding: 0 5px 10px;
}

.teaderDoctor-info {
    padding: 3px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.teaderDoctor-info li {
    padding: 3px 0;
    font-size: 14px;
    text-align: right;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style-type: none;
    list-style-image: none;
}

.doctorFull-info li {
    padding: 5px 0;
    color: #363636;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.teaderDoctor-info strong {
    width: 40%;
    text-align: left;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.teaderDoctor-info {
    float: left;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.teaderDoctor-title {
    padding-left: 5px;
    padding-right: 5px;
}

.teaderDoctor-link {
    float: left;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.img-responsive {
    width: 100%;
}

.specialist h2.zagl {
    color: #00a951;
}

h2.zagl-centr {
    text-align: center;
}

.pichina {
    width: 165px;
    height: 215px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.pichina:hover {
    background-position: -165px 0;
}

.five-prichin {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prich1 {
    background-image: url('../images/icon1.png');
}

.prich2 {
    background-image: url('../images/icon2.png');
}

.prich3 {
    background-image: url('../images/icon3.png');
}

.prich4 {
    background-image: url('../images/icon4.png');
}

.prich5 {
    background-image: url('../images/icon5.png');
}

.block-wrap-pichina {
    background-image: url('../images/bg-pr.png');
}

.block-wrap-rabota {
    overflow: hidden;
}

.block-wrap-rabota {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.news-block {
    overflow: hidden;
    height: 400px;
}

.news-block:after {
    content: "";
    display: block;
    float: left;
    width: 100%;
    height: 50px;
    position: relative;
    /* background-color: #963737; */
    margin-top: -45px;
    background: -moz-linear-gradient(top, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 100%);
    background: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f5f5f5', endColorstr='#f5f5f5', GradientType=0);
}

.news-block-over {
    height: 400px;
}


.border-news-wrap {
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.4);
}

.news-block-wrap {
    padding: 10px 10px 10px 10px;
}

.flexslider.news-front ul.slides>li {
    overflow: visible;
}

.post-article {
    overflow: hidden;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #fff;
}

.date-post {
    float: left;
    width: 100%;
    margin-top: 50px;
}

h2.post-article,
h2.post-article a {
    color: #00a951;
}


h4.post-article,
h4.post-article a {
    color: #00a951;
    margin-bottom: 0;
}

h3.uslug-price,
h3.uslug-price a {
    color: #00a951;
    margin: 0 0 0 0;
}


.doctor-wrap {
    padding: 5px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.6);
    border: 2px #fff solid;
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

h3.title-doc a {
    color: #00a951;
}

.green-link a {
    color: #00a951;
    font-weight: bold;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #00a951;
}

.w-115 {
    min-width: 115px;
}

.cont-doctor ul {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
}

.w-100 {
    width: 100px;
}

.right {
    float: right;
}

.w-100pr {
    float: left;
    width: 100%;
}

.w-100pr-wrap {
    float: left;
    width: 100%;
}

.green-panel .panel-heading {
    background-color: #00a951;
    color: #fff;
}

.green-panel .panel-heading a {
    color: #fff;
}

h4.green {
    color: #00a951;
    background-color: #E0E0E0;
    padding: 10px 15px 10px 15px;
    margin-bottom: 0;
    margin-top: 0;
}

.top-search .field-search-search {
    float: left;
    width: 100%;
}

.top-search button {
    position: absolute;
    right: 0;
    margin-right: 15px;
    height: 34px;
}

.top-search input {
    outline: none;
    padding-right: 35px;
}

.top-50 {
    padding-top: 50px;
}

.top-search {
    float: left;
    width: 100%;
    margin-top: -25px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.w-480 {
    max-width: 800px;
    width: 100%;
    float: left;
}


.line-hiden {
    display: none;
}

.right-time {
    float: right;
}

.top-20 {
    margin-top: 20px;
}

.item-adr {
    cursor: pointer;
}

.map-adr {
    width: 100%;
    height: 300px;
}

.map-wrap {
    height: 0;
    display: block;
    overflow: hidden;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.h-300 {
    height: 300px;
}

.top-tel h3 {
    margin-bottom: -5px;
}

.inst-icon a {
    color: #00a951;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #363636;
    background: #fdd615;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #363636;
    background: #fdd615;
}

.nav-green ul.navbar-nav>li>a:hover {
    color: #363636;
    background: #fdd615;
}

.nav-green .dropdown-menu {
    color: #363636;
    background: #fdd615;
}

.nav-green .dropdown-menu > .active > a, .nav-green .dropdown-menu > .active > a:hover, .nav-green .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #00a951;
}