.nav-green {
    /*     background-image: -webkit-linear-gradient(top, #00a951 0%, #008740 100%);
    background-image: linear-gradient(to bottom, #00a951 0%, #008740 100%); */
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    z-index: 100;
}

.nav-green ul.navbar-nav>li>a {
    color: #000;
    font-weight: 300;
    font-stretch: condensed;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-green ul.navbar-nav>li>a:hover,
.nav-green ul.navbar-nav>li>a:focus {
    color: #000;
}

.mobile-w {
    display: block;
    margin-top: -20px;
}

.logo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grafic,
.top-tel {
    text-align: center;
}

.top-tel {
    font-weight: bold;
    font-size: 26px;
}

.grafic .icon:before {
    font-size: 47px;
    margin-left: -115px;
    position: absolute;
}

.slider-wrap {
    margin-top: 0;
    position: relative;
    z-index: 0;
}

.flexslider .slides img {
    height: 280px;
    width: auto;
}

.text-slide {
    text-align: center;
}

.five-prichin {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.block-wrap-rabota img {
    width: 160%;
    height: auto;
}

.menufootermenu li {
    width: 100%;
    text-align: center;
}

.menufootermenu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__text,
.footer__address,
.footer-menuMD,
h3.footer-menuMD-title {
	text-align: center;
}

.text-slide p {
    display: none;
}