@import url('bootstrap.css');
@import url('/web/fonts/roboto/stylesheet.css');
@import url('font-awesome.css');
@import url('flexslider.css');
@import url('main.css');

@import url("992.css") (min-width:992px) and (max-width:1199px);
@import url("768.css") (min-width:768px) and (max-width:991px);
@import url("mobile.css") (max-width:767px);